@import "@styled/variables";
.Input-wrapper {
  margin: 10px;
}

.Lable-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 5px;
  padding-left: 1px;
  padding-right: 1px;
}

.Lable-right {
  font-size: $baceFontSize;
  line-height: $lightLineHeight;
}

.Lable-left {
  font-size: $xsFontSize;
  line-height: $lightLineHeight;
  color: $lightFontColor
}

.Input{
  width: 100%;
  padding: 5px 10px;
  box-sizing: border-box;
  border: 1px solid $normalBorderColor;
  border-radius: $baceBorderRadius;

  &:hover{
    border-color: $hoverBorderColor;
  }

  &:focus {
    border-color: $hoverBorderColor;
    box-shadow: 0 0 0 2px $normalBorderColor;
  }
}

.Lable-wrapper .Error {
  color: $errorFontColor;
}
.Input.Error {
  border-color:$errorFontColor;
  box-shadow: $errorShadowColor;
}