@import "@styled/variables";

.Button{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 110px;
  height: 40px;

  color: $whiteColor;
  border: none;
  border-radius: 5px;
  background: $normalColorBtn;

  font-weight: $lgFontWeight;
  font-size: $baceFontSize;

  &:active{
    boder: none;
    background: $activeColorBtn;
  }

  &:focus{
    border: $borderFocusBtn;
    background: $normalColorBtn;
  }

  &:hover{
    border: none;
    background: $hoverColorBtn;
  }

  &[disabled] {
    border: none;
    background: $disabledColorBtn;
  }
}