@import "@styled/variables";

.Authentication{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;

  background: $grayBaceColor;
}

.AuthenticationContainer {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);

  display: flex;
  flex-flow: column;
}

.Form{
  width: 450px;
  height: auto;
  margin: 20px 0;
  padding: 40px 30px;

  box-shadow: 0px 4px 10px $lightBorderColor;
  border-radius: $baceBorderRadius;
  background: $whiteColor;
}

.LogoContainer {
  align-self: center;
}

.Title {
  font-size: $xlFontSize;
  line-height: $baceLineHeight;
  margin-bottom: 20px;
}

.InputContainer {
  margin: 20px 0;
}

.ButtonContainer {
  margin-top: 20px;
}
