@import "@styled/variables";

.Header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  height: 50px;
}
.Title{
  font-size: $h1FontSize;
  margin: 0 20px;
}
.Login {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 15px;
  border: 1px solid $normalBorderColor;
  border-radius: $baceBorderRadius;


  .Email {
  }
  .Sublogin{
  }

  .Separator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0 5px;
    width: 2px;
    height: 100%;

    cursor: pointer;

    div{
      width: 3px;
      height: 3px;
      margin: 1px;
      background-color: $normalBorderColor;
      border-radius: $baceBorderRadius;
    }
  }
}
.Logout{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;

  border: none;
  background: transparent;

  &::after{
    content: '';
    display: inline-block;
    float: right;

    background-image: url(../../assets/icons/log-out.svg);
    background-repeat: no-repeat;
    background-position: center;

    width: 25px;
    height: 25px;
    margin-left: 8px;
  }
}
.FullScrin{
  display: block;
  float: right;
  background-color: transparent;
  background-image: url(../../assets/icons/full-screen.svg);
  background-repeat: no-repeat;
  background-position: center;

  border: 2px solid transparent;

  width: 30px;
  height: auto;

  margin-left: 30px;
  padding: 1px;

  cursor: pointer;

  &:hover{
    background-image: url(../../assets/icons/full-screen-focus.svg);
    background-repeat: no-repeat;
    background-position: center;
  }

  &:focus, &:active {
    width: 30px;
    height: 30px;
    border: $borderFocusBtn;
    border-radius: $baceBorderRadius;

    background-image: url(../../assets/icons/full-screen-focus.svg);
    background-repeat: no-repeat;
    background-position: 1px center;
  }

  &.Active{
    background-image: url(../../assets/icons/full-screen-active.svg);
    background-repeat: no-repeat;
    background-position: 1px center;
    &:focus, &:active{
      border-color: transparent;
    }
  }
}

.LeftPanel, .RightPanle{
  display: flex;
}