@import "reset";
@import "fonts";
@import "variables";

body {
  display: flex;
  flex-grow: 1;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: $baceFontWeight;
  font-size: $baceFontSize;
  line-height: $baceLineHeight;

  color: $fontBaceColor;
}

#root {
  display: flex;
  flex-grow: 1;
}

.fullscreen-enabled {
  background: $whiteColor;
}