// ### bace colors
$fontBaceColor: #0D0D0D;
$lightFontColor: #999999;
$grayBaceColor: #E5E5E5;
$blueBaceColor: #0055FB;
$whiteColor: #ffffff;

// ### error colors
$errorFontColor: #CF2C00;
$errorLightFontColor: rgba(#CF2C00, .5);
$errorBackroundColor: rgba(207, 44, 0, 0.1);
$errorShadowColor: 0px 0px 5px rgba(207, 44, 0, 0.5);

// ### battons
$normalColorBtn: linear-gradient(180deg, #45A6FF 0%, #0055FB 100%), #C4C4C4;
$hoverColorBtn: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(180deg, #45A6FF 0%, #0055FB 100%), #C4C4C4;
$activeColorBtn: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), linear-gradient(180deg, #45A6FF 0%, #0055FB 100%), #C4C4C4;
$disabledColorBtn: linear-gradient(0deg, #C4C4C4, #C4C4C4), linear-gradient(180deg, #45A6FF 0%, #0055FB 100%);
$borderFocusBtn: 2px solid #45A5FF;

// ### fonts opts
$xsFontSize: 12px;
$smFontSize: 14px;
$mdFontSize: 16px;
$lgFontSize: 18px;
$xlFontSize: 24px;
$baceFontSize: $mdFontSize;

$baceLineHeight: 30px;
$lightLineHeight: 20px;

$xsFontWeight: 100;
$smFontWeight: 300;
$mdFontWeight: 400;
$lgFontWeight: 500;
$xlFontWeight: 700;
$xxlFontWeight: 900;
$baceFontWeight: $lgFontWeight;
